.footer__link-item {
        text-decoration: none;
        color: #ffffff;
        margin-right: 18px;
        font-size: 16px;
        line-height: 18px;
    }
    
    @media screen and (min-width: 320px)and (max-width: 767px) {
        .footer__link-item { 
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 32px;
            margin-left: 16px;
         }
     }