.place__url-heading {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-transform: uppercase;
    }

    @media screen and (min-width: 320px)and (max-width: 767px) {
        .place__url-heading { 
             margin-left: 16px;
         }
     }